{:paths ["./scripts/"]
 :tasks {check {:doc "Checks that all PowerPoints have been converted to PNGs"
                :task (exec 'tasks/check)
                :exec-args {:dir "pictures"
                            :src-suffix ".pptx"
                            :dst-suffixes ["_600.png" "_1200.png" "_2400.png"]
                            :tracked-only true
                            :check-modified true}}
         build-site {:doc "Builds the site"
                     :task (exec 'tasks/build-site)
                     ;; NOTE: :extra-paths must include the :exec-args :templates path
                     :extra-paths ["resources/templates"]
                     :exec-args {:dir "pictures"
                                 :src-suffix ".pptx"
                                 :templates "resources/templates"
                                 :raw-root "//raw.githubusercontent.com/emlyn/PowerPointFractals/main/"
                                 :output "docs"}}
         pre-commit {:doc "Tasks to run before committing"
                     :depends [check]}
         install-pre-commit {:doc "Installs pre-commit hooks"
                             :task (exec 'tasks/install-pre-commit)}}}
