;; Copyright (c) 2024 Emlyn Corrin.
;; This work is licensed under the terms of the MIT license.
;; For a copy, see <https://opensource.org/license/MIT>.

{:paths ["./scripts/"]
 :deps {metosin/malli {:mvn/version "0.16.3"}
        rm-hull/infix {:mvn/version "0.4.3"}}
 :tasks {check {:doc "Checks that all PowerPoints have been converted to PNGs"
                :task (exec 'tasks/check)
                :exec-args {:dir "docs/assets/fractals"
                            :src-suffix ".pptx"
                            :dst-suffixes {:small "_600.png"
                                           :medium "_1200.png"
                                           :large"_2400.png"}
                            :tracked-only true
                            :check-modified false}}
         build {:doc "Builds the site (use --show-args to see args passed to template)"
                :task (exec 'tasks/build-site)
                ;; NOTE: :extra-paths must include the :exec-args :templates path
                :extra-paths ["resources/templates"]
                :exec-args {:dir "docs/assets/fractals"
                            :src-suffix ".pptx"
                            :dst-suffixes {:small "_600.png"
                                           :medium "_1200.png"
                                           :large "_2400.png"}
                            :templates "resources/templates"
                            :template-args {:raw-root "assets/fractals"}
                            :output "docs"}}
         dim {:doc "Calculate the fractal dimension of an image"
              :task (exec 'tasks/calc-dimension)
              :exec-args {:size 1
                          :dmin 0
                          :dmax 4}}
         eval {:doc "Evaluate a mathematical expression"
               :task (exec 'tasks/eval-string)}
         repl {:doc "Start a repl in the tasks namespace"
               :override-builtin true
               :task (do
                       (require 'tasks)
                       (in-ns 'tasks)
                       (clojure.main/repl))}
         pre-commit {:doc "Tasks to run before committing"
                     :depends [check]}
         install-pre-commit {:doc "Installs pre-commit hooks"
                             :task (exec 'tasks/install-pre-commit)}}}
