{:paths ["./scripts/"]
 :deps {metosin/malli {:mvn/version "0.16.3"}
        rm-hull/infix {:mvn/version "0.4.3"}}
 :tasks {check {:doc "Checks that all PowerPoints have been converted to PNGs"
                :task (exec 'tasks/check)
                :exec-args {:dir "docs/assets/fractals"
                            :src-suffix ".pptx"
                            :dst-suffixes ["_600.png" "_1200.png" "_2400.png"]
                            :tracked-only true
                            :check-modified true}}
         build-site {:doc "Builds the site (use --show-args to see args passed to template)"
                     :task (exec 'tasks/build-site)
                     ;; NOTE: :extra-paths must include the :exec-args :templates path
                     :extra-paths ["resources/templates"]
                     :exec-args {:dir "docs/assets/fractals"
                                 :src-suffix ".pptx"
                                 :dst-suffixes ["_600.png" "_1200.png" "_2400.png"]
                                 :templates "resources/templates"
                                 :template-args {:raw-root "assets/fractals"}
                                 :output "docs"}}
         pre-commit {:doc "Tasks to run before committing"
                     :depends [check]}
         install-pre-commit {:doc "Installs pre-commit hooks"
                             :task (exec 'tasks/install-pre-commit)}}}
