<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PowerPoint Fractals</title>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="assets/css/default.css">
    </head>
    <body>
        <h1>PowerPoint Fractals</h1>{% for category in categories %}
        <div class="category">
            <h2>{{ category.name|title }}</h2>{% for picture in category.pictures %}
            <a href="{{raw-root}}/{{picture.category}}/{{picture.images.large.name}}"><img src="{{raw-root}}/{{picture.category}}/{{picture.images.small.name}}" height="110"></a>{% endfor %}
        </div>{% endfor %}
    </body>
</html>
