<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PowerPoint Fractals</title>
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="manifest" href="assets/favicon/webmanifest.json">
  <script src="assets/js/index.js"></script>
  <script>
    MathJax = {
      loader: { load: ['input/asciimath', 'output/chtml', 'ui/menu'] },
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/startup.js">
  </script>
</head>

<body>
  <div class="modal" id="intro">
    <div class="content">
      <span class="close" onclick="setMode('slides')">&times;</span>
      <h1>PowerPoint Fractal Art</h1>
      <p>
        All of these images were created by Emlyn Corrin using Microsoft PowerPoint.
      </p>
      <p>
        They use a feature called Slide Zoom, which allows an image of the whole slide
        to be embedded within the slide itself, creating a recursive effect.
        By controlling the position, size and rotation of the Slide Zoom elements,
        a wide range of fractal images can be created, from regular mathematical shapes,
        to natural objects, to weird abstract images and even representations of 3D shapes.
      </p>{% for category in categories %}
      <div class="category">
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>{% for fractal in category.fractals %}
        <img src="{{raw-root}}/{{category.name|lower}}/{{fractal.images.small.file}}" height="80"
          onclick="setMode('slides'); gotoSlide({{fractal.id}})">{% endfor %}
      </div>{% endfor %}
    </div>
  </div>
  <div class="slides">{% for fractal in fractals %}
    <div class="slide" id="slide{{forloop.counter0}}">
      <div class="img">
        <img src="{{raw-root}}/{{fractal.category|lower}}/{{fractal.images.medium.file}}" onclick="setMode('focus')">
      </div>
      <div class="info">
        <h2 class="name">{{fractal.name}}</h2>
        <p class="description">{{fractal.description}}</p>{% if fractal.dimension %}
        <p class="dimension">Fractal <a href="https://en.wikipedia.org/wiki/Fractal_dimension">dimension</a>:
          `{{fractal.dimension}}{% if fractal.dimension_val %} = {{fractal.dimension_val|double-format:3}}{% endif %}`
        </p>{% endif %}
        <p class="download">Download <a
            href="{{raw-root}}/{{fractal.category|lower}}/{{fractal.source}}">PowerPoint</a>.</p>{% if fractal.links %}
        <p class="links">Links:{% for link in fractal.links %}<br /><a href="{{link.url}}"
            target="_blank">{{link.name}}</a>{% endfor %}
        </p>{% endif %}
      </div>
    </div>{% endfor %}
  </div>
  <a class="prev" onclick="prevSlide()" title="Previous fractal (←)">❮</a>
  <a class="next" onclick="nextSlide()" title="Next fractal (→)">❯</a>
  <div class="thumbnail-container">
    <div class="thumbnails">{% for fractal in fractals %}
      <img src="{{raw-root}}/{{fractal.category|lower}}/{{fractal.images.small.file}}"
        onclick="gotoSlide({{forloop.counter0}})" alt="{{fractal.name}}" title="{{fractal.name}}">{% endfor %}
    </div>
  </div>
  <div class="focus-container">{% for fractal in fractals %}
    <div class="focus" id="focus{{forloop.counter0}}">
      <img loading="lazy" src="{{raw-root}}/{{fractal.category|lower}}/{{fractal.images.large.file}}">
    </div>{% endfor %}
  </div>
  </div>
</body>

</html>
